#db
DB_DRIVER_NAME=postgres
POSTGRES_USER=President
POSTGRES_DB_NAME=effective_mobile
POSTGRES_PORT=5432
POSTGRES_PASSWORD=CreatedAt2025EffectiveMobile
POSTGRES_HOST=postgres
DATA_DB_VOLUME_PATH=./controller/db/pg_data
MIGRATIONS_PATH_ON_HOST=./controller/db/migrations

#host ports
HOST_PORT_FOR_POSTGRES=5433

#migrations
VOLUME_PATH_MIGR_ON_CONT=/migrations

#docker-compose
CONTAINER_POSTGRES_NAME=db_cont_effective_mobile
CONTAINER_MIGRATE_NAME=migrate_cont_effective_mobile

#services address
CONTROLLER_HOST=controller
CONTROLLER_PORT=50001
ENDPOINT_PORT=50002